<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Trip Planner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Create Trip/Trip Comparison
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/trip-create">Create New Trip</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/trip-compare">Create New Trip Comparison</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              View Trips/Trip Comparisons
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/view-trip">View Generated Trips</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/view-compare">View Generated Trip Comparisons</a>
            </div>
          </li>
      </ul>
    </div>
  </nav>-->

<div class="container content-box">
    <div class="text-center" role="main">
        <h1 id="createHeader">Create a New Trip Comparison</h1>
        <p>To generate a trip comparison, provide a comparison name and two trips. Comparison names must be unique and non-unique names will be indicated by a red border. Additionally, trips must be pre-created. Invalid trip names will be indicated by a red border. </p>
    </div>
</div>

<form [formGroup]="tripComparison" (ngSubmit)="onSubmit(tripComparison.value); tripComparison.reset()" class="ml-5 mr-5" onkeydown="return event.key != 'Enter';">
    <div class="form-group">
      <div class="row">
          <div class="col">
            <label for="compName">Trip Comparison Name</label>
            <input type="text" class="form-control" id="compName" placeholder="Enter a Trip Comparison Name" formControlName="compName" (keyup)="checkName('compName')" required>       
          </div>
          <div class="col">
            <label for="firstTrip">First Trip</label>
            <input type="text" class="form-control" id="firstTrip" placeholder="Enter the First Trip Name" formControlName="firstTrip" (keyup)="checkName('firstTrip')" required>       
          </div>
          <div class="col">
            <label for="secondTrip">Second Trip</label>
            <input type="text" class="form-control" id="secondTrip" placeholder="Enter the Second Trip Name" formControlName="secondTrip" (keyup)="checkName('secondTrip')" required>       
          </div>
          <div class="col">
            <p *ngIf="validName">Check your inputs - you have an invalid comparison name or trip name.</p>
            <button type="submit" class="btn btn-primary" id="generateTrip" [disabled]="!tripComparison.valid || validName">Generate Trip Comparison</button>
          </div>
      </div>
    </div>
</form>

<app-one-trip-view></app-one-trip-view>