<div class="container content-box">
    <div class="text-center" role="main">
        <h1 id="createHeader">Trip Information: {{tripInfo.name}}</h1>
    </div>
</div>

<hr>  

<div class="container content-box">
    <div class="text-center" role="main">
        <div class="row">
            <div class="col">
                <h3><span class="labels">Location:</span> {{tripInfo.location}}</h3>
            </div>
            <div class="col">
                <h3><span class="labels">Total Cost Per Person:</span> ${{costPerPerson}}</h3>
            </div>
        </div>
        <div class="row">
            <h2>Dates of Trip:</h2>
            <div class="col">
                <h3><span class="labels">Start Date:</span> {{startDate}}</h3>
            </div>
            <div class="col">
                <h3><span class="labels">End Date:</span> {{endDate}}</h3>
            </div>
            <div class="col">
                <h3><span class="labels">Length of Stay:</span> {{lengthOfStay}} Days</h3>
            </div>
        </div>
        <div class="row">
            <h2>Hotel Information: </h2>
        </div>
        <div class="row">
            <div class="col">
                <h3><span class="labels">Hotel/Airbnb: </span>{{hotel}}</h3>
            </div>
            <div class="col">
                <h3><span class="labels">Rating: </span>{{rating}}</h3>
            </div>
            <div class="col">
                <h3><span class="labels">Price Per Person: </span>${{hotelPrice}}</h3>
            </div>
        </div>
        <div class="row">
            <h2>Travel Expenses - Per Person:</h2>
            <div class="col">
                <h3><span class="labels">Cost of Travel To Destination - Per Person: </span>${{tripInfo.arrivaltravel}}</h3>
            </div>
            <div class="col">
                <h3><span class="labels">Cost of Travel Home - Per Person: </span>${{tripInfo.departuretravel}}</h3>
            </div>
        </div>
        <div class="row">
            <h2>Additional Expenses</h2>
            <div class="col">
                <h3><span class="labels">Expenses Per Person: </span>${{tripInfo.expenses}}</h3>
            </div>
        </div>
        <div class="row">
            <h2>Additional Trip Information</h2>
            <div class="col">
                <h3><span class="labels">Trip Pros: </span>{{tripInfo.pros}}</h3>
            </div>
            <div class="col">
                <h3><span class="labels">Trip Cons: </span>{{tripInfo.cons}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3><span class="labels">Trip Notes: </span>{{tripInfo.notes}}</h3>
            </div>
        </div>
    </div>
</div>