.content-box {
    margin-top: 50px;
}

#backBtn {
    margin-right: 10px;
}

#createBtn {
    margin-right: 10px;
}

#createHeader {
    margin-bottom: 30px;
    font-weight: bold;
}

.labels {
    font-weight: bold;
}